@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.container {
  width: 100%;
  /* margin: 0 10px; */
}

/* navbar style start */
.navbar {
  display: flex;
  justify-content: space-evenly;
}
.navbar h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #3a3a3a;
  margin-right: 270px;
}
.side-nav {
  display: flex;
  align-items: center;
}
.side-nav li {
  list-style: none;
  margin-left: 40px;
}
.side-nav li a {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  margin-right: 5px;
}
/* navbar style end */

/* heading section start */
.heading-section {
  display: flex;
}
.heading-detail {
  width: 582px;
  height: 270px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 80px;
}
.heading-section h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  color: #3a3a3a;
  margin-bottom: 16px;
}
.heading-section p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  margin-bottom: 16px;
}
.heading-section button {
  width: 196px;
  height: 44px;
  border-radius: 41px;
  border: none;
  background-color: #e02c6d;
  color: #ffffff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.heading-section button i {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
.gear-image {
  margin-top: 40px;
}
.heading-section img {
  width: 440px;
  height: 414px;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  margin-right: 50px;
}
/* heading section end */
.logo-section {
  width: 1000px;
  /* height: 110px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 61px;
  margin: 0 100px;
  margin-top: 100px;
  border-image: linear-gradient(#aaaaaa, #aaaaaa);
  border-image-slice: 1;
  border-top: 0px solid;
  border-bottom: 0px solid;
  /* box-shadow: 20px 5px 20px 5px gray; */
  /* box-shadow: 0px 3px 5px #888, 0px -3px 5px #888; */
  box-shadow: inset 0px 11px 8px -10px rgb(187, 185, 185),
    inset 0px -11px 8px -10px rgb(187, 185, 185);
}
.logo-section li {
  list-style: none;
  margin-right: 60px;
}
