@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.container {
  width: 100%;
  /* margin: 0 10px; */
}

/* navbar style start */
.navbar {
  display: flex;
  justify-content: space-evenly;
}
.navbar h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #3a3a3a;
  margin-right: 270px;
}
.side-nav {
  display: flex;
  align-items: center;
}
.side-nav li {
  list-style: none;
  margin-left: 40px;
}
.side-nav li a {
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  margin-right: 5px;
}
/* navbar style end */

/* heading section start */
.heading-section {
  display: flex;
}
.heading-detail {
  width: 582px;
  height: 270px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 80px;
}
.heading-section h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  color: #3a3a3a;
  margin-bottom: 16px;
}
.heading-section p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  margin-bottom: 16px;
}
.heading-section button {
  width: 196px;
  height: 44px;
  border-radius: 41px;
  border: none;
  background-color: #e02c6d;
  color: #ffffff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.heading-section button i {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
.gear-image {
  margin-top: 40px;
}
.heading-section img {
  width: 440px;
  height: 414px;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
  margin-right: 50px;
}
/* heading section end */
.logo-section {
  width: 1000px;
  /* height: 110px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 61px;
  margin: 0 100px;
  margin-top: 100px;
  border-image: linear-gradient(#aaaaaa, #aaaaaa);
  border-image-slice: 1;
  border-top: 0px solid;
  border-bottom: 0px solid;
  /* box-shadow: 20px 5px 20px 5px gray; */
  /* box-shadow: 0px 3px 5px #888, 0px -3px 5px #888; */
  box-shadow: inset 0px 11px 8px -10px rgb(187, 185, 185),
    inset 0px -11px 8px -10px rgb(187, 185, 185);
  margin-bottom: 100px;
}
.logo-section li {
  list-style: none;
  margin-right: 60px;
}
/* logo style end */

/* product style start */
.product-container {
  width: 1047px;
  height: 1662px;
  margin-left: 130px;
}
.product-section-title {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 70px;
  color: #3a3a3a;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 300px;
  height: 476px;
  margin-top: 0;
}
.product {
  width: 300px;
  /* height: 476px; */
  background-color: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 17px;
}
.product img {
  width: 300px;
  height: 256px;
  margin-bottom: 16px;
}
.product-info {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: #787885;
  margin-top: 4px;
  margin-bottom: 0;
}
.product-detail h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #18191f;
  margin-bottom: 0;
  margin-top: 0;
}
.product-detail p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 6px;
  margin-bottom: 0;
}
.icon {
  display: flex;
  align-items: center;
}
.icon i {
  width: 16px;
  height: 16px;
  color: #fb8200;
}
.icon p {
  margin-left: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #5e6366;
}
.product-load {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
  border: none;
  background-color: white;
  margin-left: 1000px;
  margin-top: 50px;
  background-color: rgba(224, 44, 109, 0.87);
  width: 196px;
  height: 44px;
  border-radius: 41px;
  margin-bottom: 0;
}

/* feature style start */
.feature-section {
  width: 1110px;
  height: 270px;
  display: flex;
  margin-left: 130px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.feature-section img {
  width: 404px;
  height: 270px;
}
.feature-detail {
  margin-left: 96px;
  margin-bottom: 123px;
}
.feature-detail h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 60px;
  color: #0a0826;
  margin-bottom: 0;
}
.feature-detail p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
  margin-top: 16px;
  margin-bottom: 0;
}
.feature-detail button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
  border: none;
  background-color: white;
  background-color: rgba(224, 44, 109, 0.87);
  width: 155px;
  height: 44px;
  margin-top: 16px;
}
